<a href="https://colab.research.google.com/github/WambuiN/IP_Week4/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2020_08_Wambui_Njoroge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DATA PREPARATION

The First step of our analysis involved loading our libraries into our Notebook.

In [ ]:
#IMPORTING PYTHON LIBRARIES
import pandas as pd
import numpy as np
import datetime

Next we loaded our dataset into the Notebook ,previewed it and accessed the information on the datatype of our columns.

In [ ]:
#READING THE FILE
df = pd.read_csv("Autolib_dataset (3).csv")

In [ ]:
df.head(3)

                            Address  Cars  Bluecar counter  ...  day  hour  minute
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14

[3 rows x 25 columns]

ACCESSING INFORMATION ABOUT THE DATA

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

DATA CLEANING

In [ ]:
df.isnull().any()

Address                False
Cars                   False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
Displayed comment       True
ID                     False
Kind                   False
Geo point              False
Postal code            False
Public name            False
Rental status          False
Scheduled at            True
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [ ]:
df[df.duplicated()]

Empty DataFrame
Columns: [Address, Cars, Bluecar counter, Utilib counter, Utilib 1.4 counter, Charge Slots, Charging Status, City, Displayed comment, ID, Kind, Geo point, Postal code, Public name, Rental status, Scheduled at, Slots, Station type, Status, Subscription status, year, month, day, hour, minute]
Index: []

Searching for Duplicates

In [ ]:
df2 = df.drop_duplicates()
df2.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

Dropping Columns

In [ ]:

df2.drop(['Displayed comment','ID', 'Geo point','Cars'], axis = 1, inplace=True)
df2.drop(['Address'], axis=1, inplace=True)
df2.head(3)

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  hour minute Counter
0                0               0                   0  ...    11     43     NaN
1                6               0                   0  ...     7     24     6.0
3                3               1                   0  ...     4     37    -3.0

[3 rows x 21 columns]

**ANSWERING THE RESEARCH QUESTIONS**

Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [ ]:
df2['Counter']=df2['Bluecar counter'].diff()
df2 = df2[df2['City'] == 'Paris']
df2.head()

   Bluecar counter  Utilib counter  ...  Utilib_Counter  Utilib_Counter2
0                0               0  ...             NaN              NaN
1                6               0  ...             0.0              0.0
3                3               1  ...             1.0              0.0
4                3               0  ...            -1.0              0.0
5                0               0  ...             0.0              0.0

[5 rows x 23 columns]

In [ ]:
df2[df2['Counter'] < 0].groupby('hour')['hour'].count().sort_values(ascending = False)

hour
21    68
20    55
7     55
4     52
16    52
13    51
3     49
14    48
8     48
6     48
17    47
18    47
19    47
5     46
2     45
15    44
1     42
9     42
23    41
22    39
11    38
10    37
12    37
0     34
Name: hour, dtype: int64

What is the most popular hour for returning cars?

In [ ]:
df2[df2['Counter']>0].groupby('hour')['hour'].count().sort_values(ascending = False)

hour
10    58
21    57
12    56
6     55
8     54
3     53
9     53
18    50
5     49
0     48
22    46
2     46
11    46
13    46
16    46
19    46
7     43
15    41
17    41
1     41
23    41
14    35
4     34
20    32
Name: hour, dtype: int64

What station is the most popular? Overall?

In [ ]:
df2[(df2['Kind']=='STATION') & (df2['Status']=='ok')].groupby('Public name')['Public name'].count().sort_values(ascending = False)

Public name
Paris/Porte de Montrouge/8         13
Paris/Voltaire/182                 11
Paris/Courcelles/69                11
Paris/Mathis/35                    11
Paris/Philippe Auguste/126         11
                                   ..
Paris/PÃ©guy/2                      1
Paris/Faubourg-Saint-Martin/168     1
Paris/Bobillot/16                   1
Paris/FÃ©dÃ©ration/10               1
Paris/Murat/157                     1
Name: Public name, Length: 518, dtype: int64

What station is the most popular? At the most popular picking hour?

In [ ]:
df2[(df2['Kind']=='STATION') & (df2['Status']=='ok') & (df['hour'] == 21)].groupby('Public name')['Public name'].count().sort_values(ascending = False)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Public name
Paris/Tronchet/19               4
Paris/Voltaire/182              3
Paris/Ãmile Reynaud/4          2
Paris/Danton/8                  2
Paris/Boulard/1                 2
                               ..
Paris/Pelleport/86              1
Paris/Pereire/170               1
Paris/Pompe/137                 1
Paris/Pont Louis-Philippe/24    1
Paris/25 AoÃ»t 1944/8           1
Name: Public name, Length: 106, dtype: int64

What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
Overall?

In [ ]:
df2[(df2['Kind']=='STATION') & (df2['Status']=='ok')].groupby('Postal code')['Postal code'].count().sort_values(ascending = False)

Postal code
75015    220
75016    197
75017    180
75013    155
75011    155
        ...
92200      3
92340      3
94700      3
94410      2
94100      2
Name: Postal code, Length: 100, dtype: int64

What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?
At the most popular picking hour?

In [ ]:
df2[(df2['Kind']=='STATION') & (df2['Status']=='ok') & (df['hour']==21)].groupby('Postal code')['Postal code'].count().sort_values(ascending = False)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Postal code
75014    15
75019    12
75012    11
75008    11
75016    10
75013     9
75011     8
75015     7
75020     5
75017     5
75007     5
75009     4
75006     3
75003     3
75010     3
75018     3
75005     2
75004     2
75001     2
75002     1
Name: Postal code, dtype: int64

UTILIB COUNTER

Identify the most popular hour of the day for picking up a shared electric car (Utilib) in the city of Paris over the month of April 2018.

In [ ]:
df2['Utilib_Counter'] = df2['Utilib counter'].diff()
df2 = df2[df2['City'] == 'Paris']
df2.head(3)

   Bluecar counter  Utilib counter  ...  Utilib_Counter  Utilib_Counter2
0                0               0  ...             NaN              NaN
1                6               0  ...             0.0              0.0
3                3               1  ...             1.0              0.0

[3 rows x 23 columns]

In [ ]:
df2[df2['Utilib_Counter'] < 0].groupby('hour')['hour'].count().sort_values(ascending = False)

hour
9     11
11     8
14     8
13     7
7      7
8      7
10     7
21     6
5      6
6      6
18     6
17     6
16     6
15     6
23     5
19     5
20     5
0      5
12     4
3      4
2      4
1      4
22     2
4      2
Name: hour, dtype: int64

What is the most popular hour for returning cars?

In [ ]:
df2[df2['Utilib_Counter']>0].groupby('hour')['hour'].count().sort_values(ascending = False)

hour
6     12
11    10
17     9
8      9
14     8
10     7
21     7
18     7
7      7
2      6
15     6
3      5
5      5
0      5
12     5
13     5
9      4
16     4
20     4
22     3
4      3
19     3
1      3
23     1
Name: hour, dtype: int64

What station is the most popular?
Overall?

In [ ]:
df2[(df2['Kind']=='STATION') & (df2['Status']=='ok')].groupby('Public name')['Public name'].count().sort_values(ascending = False)

Public name
Paris/Porte de Montrouge/8         13
Paris/Voltaire/182                 11
Paris/Courcelles/69                11
Paris/Mathis/35                    11
Paris/Philippe Auguste/126         11
                                   ..
Paris/PÃ©guy/2                      1
Paris/Faubourg-Saint-Martin/168     1
Paris/Bobillot/16                   1
Paris/FÃ©dÃ©ration/10               1
Paris/Murat/157                     1
Name: Public name, Length: 518, dtype: int64

What station is the most popular? At the most popular picking hour?

In [ ]:
df2[(df2['Kind']=='STATION') & (df2['Status']=='ok') & (df['hour'] == 6)].groupby('Public name')['Public name'].count().sort_values(ascending = False)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Public name
Paris/Saint-HonorÃ©/123       3
Paris/Marceau/1               2
Paris/Chernoviz/12            2
Paris/Julien Lacroix/39       2
Paris/IÃ©na/24                2
                             ..
Paris/Pirogues de Bercy/44    1
Paris/Plaine/25               1
Paris/Pyramides/12            1
Paris/PyrÃ©nÃ©es/236          1
Paris/Adolphe Yvon/6          1
Name: Public name, Length: 92, dtype: int64

What postal code is the most popular for picking up Utilib? Does the most popular station belong to that postal code?
Overall?

In [ ]:
df2[(df2['Kind']=='STATION') & (df2['Status']=='ok')].groupby('Postal code')['Postal code'].count().sort_values(ascending = False)

Postal code
75015    220
75016    197
75017    180
75011    155
75013    155
75008    150
75020    149
75012    138
75019    134
75014    128
75018    120
75007     99
75010     98
75009     93
75005     85
75006     74
75004     58
75003     55
75002     54
75001     43
75112      6
75116      5
Name: Postal code, dtype: int64

What postal code is the most popular for picking up Utilib? Does the most popular station belong to that postal code?
At the most popular picking hour?

In [ ]:
df2[(df2['Kind']=='STATION') & (df2['Status']=='ok') & (df2['hour']== 9)].groupby('Postal code')['Postal code'].count().sort_values(ascending = False)

Postal code
75011    8
75015    8
75012    8
75017    8
75007    7
75016    7
75010    6
75014    6
75018    6
75009    5
75006    5
75013    4
75019    4
75005    3
75002    3
75008    3
75020    3
75116    2
75001    2
75004    1
75003    1
75112    1
Name: Postal code, dtype: int64

**UTILIB 1.4**

Identify the most popular hour of the day for picking up a shared electric car (Utilib 1.4) in the city of Paris over the month of April 2018.

In [ ]:
df2['Utilib_Counter2'] = df2['Utilib 1.4 counter'].diff()
df2 = df2[df2['City'] == 'Paris']
df2.head(3)

   Bluecar counter  Utilib counter  ...  Utilib_Counter  Utilib_Counter2
0                0               0  ...             NaN              NaN
1                6               0  ...             0.0              0.0
3                3               1  ...             1.0              0.0

[3 rows x 23 columns]

In [ ]:
df2[df2['Utilib_Counter2'] < 0].groupby('hour')['hour'].count().sort_values(ascending = False)

hour
8     17
3     16
4     14
19    13
17    13
23    12
22    12
2     12
5     12
10    12
6     11
0     11
12    11
14    11
16    11
20    11
13    10
7     10
21    10
15     9
11     9
18     8
9      7
1      5
Name: hour, dtype: int64

What is the most popular hour for returning cars?

In [ ]:
df2[df2['Utilib_Counter2']>0].groupby('hour')['hour'].count().sort_values(ascending = False)

hour
9     18
21    16
17    15
22    15
6     14
19    13
3     13
5     13
10    13
15    12
1     11
16    11
13    10
12    10
23     9
7      9
11     9
14     9
18     9
8      8
4      8
20     8
0      7
2      6
Name: hour, dtype: int64

What station is the most popular?
Overall?

In [ ]:
df2[(df2['Kind']=='STATION') & (df2['Status']=='ok')].groupby('Public name')['Public name'].count().sort_values(ascending = False)

Public name
Paris/Porte de Montrouge/8         13
Paris/Voltaire/182                 11
Paris/Courcelles/69                11
Paris/Mathis/35                    11
Paris/Philippe Auguste/126         11
                                   ..
Paris/PÃ©guy/2                      1
Paris/Faubourg-Saint-Martin/168     1
Paris/Bobillot/16                   1
Paris/FÃ©dÃ©ration/10               1
Paris/Murat/157                     1
Name: Public name, Length: 518, dtype: int64

What station is the most popular? At the most popular picking hour?

In [ ]:
df2[(df2['Kind']=='STATION') & (df2['Status']=='ok') & (df['hour'] == 8)].groupby('Public name')['Public name'].count().sort_values(ascending = False)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Public name
Paris/Porte de Villiers/28     3
Paris/HÃ©ricart/54             2
Paris/Philippe Auguste/126     2
Paris/Bosquet/81               2
Paris/Schomberg/1              2
                              ..
Paris/Quatre septembre/10      1
Paris/Ranelagh/10              1
Paris/RapÃ©e/46                1
Paris/Raymond Losserand/229    1
Paris/Alexandrie/7             1
Name: Public name, Length: 103, dtype: int64

What postal code is the most popular for picking up Utilib 1.4 cars? Does the most popular station belong to that postal code?
Overall?

In [ ]:
df2[(df2['Kind']=='STATION') & (df2['Status']=='ok')].groupby('Postal code')['Postal code'].count().sort_values(ascending = False)

Postal code
75015    220
75016    197
75017    180
75011    155
75013    155
75008    150
75020    149
75012    138
75019    134
75014    128
75018    120
75007     99
75010     98
75009     93
75005     85
75006     74
75004     58
75003     55
75002     54
75001     43
75112      6
75116      5
Name: Postal code, dtype: int64

What postal code is the most popular for picking up Utilib 1.4 cars? Does the most popular station belong to that postal code? At the most popular picking hour?

In [ ]:
df2[(df2['Kind']=='STATION') & (df2['Status']=='ok') & (df2['hour']== 8)].groupby('Postal code')['Postal code'].count().sort_values(ascending = False)

Postal code
75015    13
75017    10
75011    10
75010     8
75019     8
75013     7
75016     7
75020     6
75012     5
75018     5
75008     5
75005     4
75009     3
75007     3
75003     3
75002     3
75001     3
75014     2
75006     2
75004     2
Name: Postal code, dtype: int64